{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome To Taskmate{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row mt-5 mx-auto">
            <div class="col-lg-4">
                <img src="{% static 'images/note.jpg' %}" height="300px" width="350" alt="Note" class="rounded-lg shadow">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/note.jpg' %}" height="300px" width="350" alt="Note" class="rounded-lg shadow">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/note.jpg' %}" height="300px" width="350" alt="Note" class="rounded-lg shadow">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
            <div class="text-center">
                <p class="h1 text-center text-primary">coonsectetur adipisicing elit. Perferendis, facilis.</p>
                <p class="h2 mt-3 text-center">coonsectetur adipisicing elit. Perferendis, facilis.</p>
                <p class="h5 text-center">coonsectetur adipisicing elit. Perferendis, facilis.</p>
            </div>
            <div class="text-center">
                <a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 mx-auto">Let's Get Started</button></a>
            </div>
        </div>
    </div>
    <br/>
    </br>
{% endblock content%}